
[class="Project"] {
    display: none;
}

.master.communiti {
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transform-origin: center;
    transform-box: fill-box;
    &.active {
        opacity: 1;
        pointer-events: all;

        [class="Project"] {
           display: initial;   
        }
    }
    &.shadowed {
        opacity: 0.25 !important;
    }
}
.windows {
    .master.communiti.active[data-project] {
        &>g>[fill],
        &>[fill] {
            animation : fillOpacityPulse 3s ease-out infinite;
        }
        &>g>[stroke],
        &>[stroke] {
            // animation : strokePulse 3s ease-out infinite;
        }
    }
}

[data-project] {
    cursor: pointer;
}

@keyframes fillOpacityPulse {
    0% {
      fill-opacity: 0.3;
    }
    
    50% {
        fill-opacity: 0.75;
    }
    
    100% {
        fill-opacity: 0.3;
    }
  }
@keyframes strokePulse {
    0% {
      stroke: #fff;
    }
    
    50% {
        stroke: rgba(0, 38, 58, 0.75);
    }
    
    100% {
        stroke: #fff;
    }
  }

[data-img-overlay] {
    transition: .25s ease-out;
}

[data-landmark] {
    cursor: pointer;
    transition: .25s ease-out;
    &.shadowed {
        opacity: 0.15;
    }
    &.inverted {
        [fill="#F5F1E8"] {
            fill: #000000;
        }
        [stroke="#F5F1E8"] {
            stroke: #000000;
        }
        [fill="#00263A"] {
            fill: #F5F1E8;
        }
        [stroke="#00263A"] {
        
            stroke: #F5F1E8;
        }
    }
}

[data-inner-route] {
    opacity: 0;

    &.shadowed {
        opacity: 0.5;
    }

    &.active {
        opacity: 1;
    }
}