.page__content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  overflow: hidden;
}

.map {
  width: calc(100%);
  // background-color: rebeccapurple;
  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  // @media screen and (max-width: 1920px) and (orientation: portrait) {
  //   overflow-x: auto;
  //   svg {

  //     height: 100vh;
  //     width: calc(100vh / 9 * 16);
  //   }
  // }
  // @media screen and (max-width: 1920px) and (orientation: landscape) {
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   svg {
  //     width: 100vw;
  //     height: calc(100vw / 19 * 9);
  //   }
  // }
}

.tablet {
  .map {
    svg {
      width: auto;
      height: 100vh;
      margin-left: auto;
      margin-right: auto;
    }
    &:after {
      content: '';
      position: absolute;
      left: -5px;
      top: -5px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background-image: url('../images/map-dubai-vertical.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(5px);
      z-index: -1;
    }
  }

  .overlay {
    .map {
      &:after {
        filter: blur(5px) brightness(0.7);
      }
    }
  }
}

.sidebar {

  .title {
    font-family: 'Nakheel-Text';
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 80%;
    align-items: flex-end;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    @include to(1920px) {
     font-size: 80px; 
    }
  }
  &__dubai {
    margin-bottom: 40px;
  }
  position: fixed;
  right: 50px;
  bottom: 50px;
  // width: 250px;
  // height: 100vh;
  // background: url(../images/sidebar-bg.jpg) center no-repeat;
  text-align: left;
  display: flex;
  gap: 50px;
 

  @media (orientation: landscape) {
    right: auto;
    left: 50px;
    flex-direction: row-reverse;
    gap: 20px;
  }

  @media (orientation: landscape) and (max-width: 1920px) {
    
    left: 30px;
    bottom: 30px;
    justify-content: flex-end;
    .logo-group:first-child {
      width: 30%;
      &>svg {
        width: 100%;
        height: auto;
      }
      button {
        margin-top: auto;
      }
    }
    button {
      width: 125px;
    }
    .logo-group>svg {
    }
  }
  @media (orientation: portrait) {
    justify-content: flex-start;
    align-content: flex-start;
    right: auto;
    left: 0;
  }

  button {
    margin-bottom: 0;
    margin-left: 0;
  }
  &__title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */

    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }

  &__logo {
    margin-bottom: 27px;
    @include to(1920px) {
      margin-bottom: 12px;
    }
  }

  &__qr {
    // border-radius: 40px;
    margin-bottom: 27px;
    width: 196px;
    height: 196px;
    @include to(1920px) {
      width: 125px;
      height: 125px; 
      margin-bottom: 12px;
    }
  }
  &__text {
    background: #005776;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    letter-spacing: -0.02em;

    /* 3D colours/Gray BG 2 */

    color: #E3EBF3;
    margin-inline: -5px;
    padding-inline: 5px;
  }
}

@import '../components/popup';
@import '../components/thumbs';

button {
  background: #001030;
  // border-radius: 12px;
  padding: 16px 20px;
  font-family: 'Nakheel-Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  /* or 14px */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  // margin: auto;
  display: block;
  border: none;
  width: 196px;
  white-space: nowrap;
  @include to(1920px) {
    font-size: 12px;

  }
}

.popup2 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;

  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  top: 20px;
  width: 90%;
  height: calc(100% - 40px);

  z-index: 10;
  background-color: #fff;
  padding: 20px 20px 0 20px;

  display: flex;
  flex-direction: column;

  [data-pdf] {
    flex-grow: 1;
    overflow: hidden;
    border: none;
  }

  &__frame {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    &>* {
      pointer-events: bounding-box;
    }
    iframe {
      height: 100%;
      flex-grow: 1;
    }
  }

  &.visible {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  &__title {
    font-family: 'Nakheel-Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 26px */

    letter-spacing: -0.02em;

    color: #001030;
    margin-bottom: 20px;
  }
  &__close {
    position: absolute;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0px;
    background: white;
    padding: 8px;
    // border-radius: 0;
  }
}

.description {
  // background-color: #FFFFFF;
  // border-radius: 40px;
  // border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px;
  position: fixed;
  left: 50px;
  top: 50px;

   &>svg {
    width: 10.4vw;
  }
  @media (orientation: landscape) {
    left: 50px;
    top: 10 0px;
  }
  @media (orientation: portrait) {
    left: 50px;
    top: 10 0px;
  }
  @include to(1920px) {
    left: 30px;
    top: 30px; 
    width: 25%;
    padding: 20px;
  }
  @media (orientation: portrait) {
    width: 35%;
  }
  &__title {
    font-family: 'Nakheel-Text';
    color: var(--white, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    
    /* 3D colours/Black */
    
    color: #ffffff;
    margin-bottom: 20px;
    @include to(1920px) {
      font-size: 24px;
    }
  }
  &__text {
    font-family: 'Nakheel-Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    
    letter-spacing: -0.02em;
    
    /* 3D colours/Black */
    
    color: rgba(0, 16, 48, 0.5);
    margin-bottom: 20px;
    @include to(1920px) {
      font-size: 14px;
    }
  }
  button {
    width: 100%;
  }
}

.tablet {
  .description {
    &__title {
      font-size: 16px;
    }
  }
}

.logo-group {
  display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: flex-end;
    gap: 8px;
    @media (orientation: landscape) {
      align-content: flex-start;
      align-items: flex-start;
    }
    @media (orientation: portrait) {
      align-items: flex-start;
      padding-left: 20px;
      padding-right: 20px;
      justify-content: flex-end;
      svg {
        width: 50%;
        height: auto;
      }
    }
}

@media (orientation: landscape){
  .vertical-view {
    // display: none !important;
  }
}
@media (orientation: portrait){
  .horizontal-view {
    // display: none !important;
  }
}

.zone-highlighter {
  background-color: #FF7E40;
  color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  // position: fixed;
  right: 50px;
  top: 50px;
  width: max-content;
  column-gap: 8px;
  box-shadow: 0 0 0 rgba(204,169,44,1);
  animation: pulseShadow 2s infinite;
  @include to(1920px) {
   right: 30px;
   top: 30px; 
  }
  svg {
    transition: .25s ease-out;
  }
  &.active {
    background-color: #FF7E40;
    color: #001030;
    svg {
      transform: rotate(-180deg);
      [fill] {
        fill: #001030;
      }
      [stroke] {
        stroke: #001030;
      }
    }
  }
}

[data-svg-zone] {
  opacity: 0;
  stroke: rgba(255, 126, 64, 0.5);
  &.active {
    opacity: 1;
    animation: pulse 2.5s infinite;
  }
}


@-webkit-keyframes pulseShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 126, 64, 0.55);
  }
  70% {
      -webkit-box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulseShadow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 126, 64, 0.55);
    box-shadow: 0 0 0 0 rgba(255, 126, 64, 0.55);
  }
  70% {
      -moz-box-shadow: 0 0 0 50px rgba(204,169,44, 0);
      box-shadow: 0 0 0 50px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
  stroke-width: 2;
}
50% {
  stroke-width: 8;
}
100% {
  stroke-width: 2;
}
}

//255, 126, 64


[data-id] {
 
}

[data-svg-pulsating] {
  filter: drop-shadow(0 0 0 rgba(0,0,0,0.8));
  animation: pulse-shadow-svg 2.5s infinite;
}

@keyframes pulse-shadow-svg {
  0% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.8));
  }
  50% {
    filter: drop-shadow(0 0 50px rgba(0,0,0,0.8));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(0,0,0,0.8));
  }
}