
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'flat-page'
    var class_page = 'home'

block meta
  title= 'Nakheel Map'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .sidebar 
    //- .title DUBAI
    div.logo-group
      <svg class="sidebar__logo" width="184" height="46" viewBox="0 0 184 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.787336 45L0.787338 2.6635e-07L17.6623 1.20521e-06C21.2014 1.40211e-06 24.4827 0.57422 27.5061 1.72266C30.553 2.84766 33.1311 4.40625 35.2405 6.39844C37.3733 8.36719 39.0373 10.7344 40.2327 13.5C41.428 16.2656 42.0256 19.2422 42.0256 22.4297C42.0256 26.6953 41.0061 30.5391 38.967 33.9609C36.928 37.3828 34.0451 40.0781 30.3186 42.0469C26.592 44.0156 22.3733 45 17.6623 45L0.787336 45ZM9.78734 36.7734L17.6623 36.7734C22.303 36.7734 25.9944 35.4492 28.7366 32.8008C31.5022 30.1523 32.885 26.6953 32.885 22.4297C32.885 18.1641 31.5139 14.7305 28.7717 12.1289C26.0295 9.52735 22.3264 8.22656 17.6623 8.22656L9.78734 8.22656L9.78734 36.7734ZM65.6169 45.6328C60.1325 45.6328 55.6559 43.8984 52.1872 40.4297C48.7184 36.9375 46.9841 32.5078 46.9841 27.1406L46.9841 2.83656e-06L55.9841 3.33729e-06L55.9841 26.6133C55.9841 29.6133 56.8512 32.0742 58.5856 33.9961C60.3434 35.8945 62.7106 36.8438 65.6872 36.8438C68.6637 36.8438 71.0192 35.8945 72.7536 33.9961C74.5114 32.0742 75.3903 29.6133 75.3903 26.6133L75.3903 4.41698e-06L84.3903 4.91771e-06L84.3903 27.1406C84.3903 32.5078 82.6325 36.9375 79.1169 40.4297C75.6247 43.8984 71.1247 45.6328 65.6169 45.6328ZM91.4933 45L91.4933 5.31289e-06L111.181 6.40823e-06C114.72 6.60513e-06 117.685 1.11329 120.075 3.33985C122.466 5.56641 123.661 8.28516 123.661 11.4961C123.661 13.6524 123.087 15.6328 121.939 17.4375C120.79 19.2422 119.302 20.6484 117.474 21.6563C119.958 22.5 121.95 23.9297 123.45 25.9453C124.95 27.9609 125.7 30.2461 125.7 32.8008C125.7 36.1992 124.435 39.082 121.903 41.4492C119.372 43.8164 116.29 45 112.657 45L91.4933 45ZM100.493 37.4063L110.548 37.4063C112.493 37.4063 113.982 36.9141 115.013 35.9297C116.067 34.9453 116.595 33.5274 116.595 31.6758C116.595 29.707 116.032 28.2188 114.907 27.2109C113.782 26.1797 112.329 25.6641 110.548 25.6641L100.493 25.6641L100.493 37.4063ZM100.493 18.0703L109.317 18.0703C110.888 18.0703 112.165 17.625 113.15 16.7344C114.157 15.8438 114.661 14.5781 114.661 12.9375C114.661 11.25 114.157 9.93751 113.15 9.00001C112.142 8.06251 110.864 7.59376 109.317 7.59376L100.493 7.59376L100.493 18.0703ZM127.952 45L139.729 7.99655e-06L157.729 8.998e-06L169.542 45L160.155 45L157.588 35.2969L139.518 35.2969L136.952 45L127.952 45ZM141.592 27.2461L155.514 27.2461L148.588 0.703133L141.592 27.2461ZM174.113 45L174.113 9.90956e-06L183.113 1.04103e-05L183.113 45L174.113 45Z" fill="#FEE2BE"/>
        </svg>
      <svg style="margin-bottom: 25px;" width="661" height="118" viewBox="0 0 661 118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M622.981 96.076L661 96.076L661 118L593.836 118L593.836 3.30388e-05L623.013 3.46621e-05L623.013 96.076L622.981 96.076ZM582.342 21.924L538.924 21.924L538.924 66.9089L551.207 46.6738L573.658 46.6738L573.658 68.5979L538.924 68.5979L538.924 96.076L582.342 96.076L582.342 118L509.746 118L509.746 2.83604e-05L582.342 3.23993e-05L582.342 21.924ZM498.284 21.924L454.866 21.924L454.866 66.9089L467.149 46.6738L489.6 46.6738L489.6 68.5979L454.866 68.5978L454.866 96.076L498.284 96.076L498.284 118L425.689 118L425.689 2.36837e-05L498.284 2.77227e-05L498.284 21.924ZM411.605 118L382.428 118L382.428 69.1175L349.336 69.1175L349.336 118L320.159 118L320.159 1.78124e-05L349.336 1.94357e-05L349.336 67.7534L362.44 46.0242L382.428 46.0242L382.428 2.12769e-05L411.605 2.29002e-05L411.605 117.967L411.605 118ZM271.499 70.6441L295.244 70.6441L311.128 118L281.635 118L266.383 72.6578L248.353 72.6578L248.353 118L219.176 118L219.176 1.21941e-05L248.353 1.38174e-05L248.353 59.6658L281.603 1.56673e-05L310.938 1.72994e-05L271.435 70.6116L271.499 70.6441ZM175.473 73.5023L160.727 1.03938L145.98 73.5023L175.473 73.5023ZM186.62 0.0324919L210.713 118L184.662 118L179.894 94.5819L141.559 94.5819L136.823 118L110.772 118L134.865 0.032489L186.651 0.0324919L186.62 0.0324919ZM102.246 118L50.9652 118L26.3983 1.03937L26.3983 118L-6.56508e-06 118L0 0L51.4388 2.86186e-06L75.8478 116.961L75.8478 4.21989e-06L102.215 5.68684e-06L102.215 117.967L102.246 118Z" fill="white"/>
        </svg>

      button(data-url="./static/nyc-nakheel-brochure.pdf") Discover
    div.logo-group
      +img('sidebar-qrcode.jpg').sidebar__qr
      button(data-url="./static/nakheel-media.pdf") Media
  div.description
    div.description__title Dubai’s Largest Luxury Waterfront Developer
    p.description__text Together spanning more than 15,000 hectares, Nakheel’s master developments in prime locations across Dubai provide homes for over 300,000 people. Nakheel’s waterfront projects, including the world famous and award-winning Palm Jumeirah, have added more than 300 kilometres to Dubai’s original 70km coastline, paving the way for the development of hundreds of seafront homes, resorts, hotels and attractions.
    button(data-url="./static/NakheelDevelopmentsMap.pdf" data-height="54%") Nakheel Masterplan map
  .map
    include ../includes/horizontal-map-new.pug
    include ../includes/vertical-map.pug
  button.zone-highlighter(data-zone-highlighter) 
    span Nakheels master communities
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="3" y="8.5" width="12" height="12" fill="white"/>
      <rect x="8.5" y="4" width="11" height="11" stroke="white"/>
    </svg>


  .popup
    <svg class="popup__close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.5 6.08579L13.2929 0.292893C13.6834 -0.0976311 14.3166 -0.0976311 14.7071 0.292893C15.0976 0.683417 15.0976 1.31658 14.7071 1.70711L8.91421 7.5L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L7.5 8.91421L1.70711 14.7071C1.31658 15.0976 0.683417 15.0976 0.292893 14.7071C-0.0976315 14.3166 -0.0976315 13.6834 0.292893 13.2929L6.08579 7.5L0.292893 1.70711C-0.0976315 1.31658 -0.0976315 0.683417 0.292893 0.292893Z" fill="#001030"/>
      </svg>
    img.popup__img
    .popup__text
      div Palm Beach Towers 
      p Palm Beach Towers 3 is an amalgam of style and luxury that inspires a fresh perspective; where each day the sounds of the waves are the backdrop to a life immersed in the best the city has to offer.
      button Discover
    img.popup__qr
  .popup2
    button.popup2__close 
      <svg  width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.5 6.08579L13.2929 0.292893C13.6834 -0.0976311 14.3166 -0.0976311 14.7071 0.292893C15.0976 0.683418 15.0976 1.31658 14.7071 1.70711L8.91421 7.5L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L7.5 8.91421L1.70711 14.7071C1.31658 15.0976 0.683417 15.0976 0.292893 14.7071C-0.0976313 14.3166 -0.0976313 13.6834 0.292893 13.2929L6.08579 7.5L0.292893 1.70711C-0.0976313 1.31658 -0.0976313 0.683418 0.292893 0.292893Z" fill="#001030"/>
        </svg>
    .popup2__title Palm beach Towers Presentation
    .popup2__frame(data-pdf scrolling="auto" type="application/pdf")


block footer
block header
