
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'flat-page'
    var class_page = 'home'

block meta
  title= 'Nakheel Map'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
block content
  .selects-wrapper
    div.selects-wrapper__logo(data-link)
      <svg width="661" height="118" viewBox="0 0 661 118" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M622.981 96.076L661 96.076L661 118L593.836 118L593.836 3.30388e-05L623.013 3.46621e-05L623.013 96.076L622.981 96.076ZM582.342 21.924L538.924 21.924L538.924 66.9089L551.207 46.6738L573.658 46.6738L573.658 68.5979L538.924 68.5979L538.924 96.076L582.342 96.076L582.342 118L509.746 118L509.746 2.83604e-05L582.342 3.23993e-05L582.342 21.924ZM498.284 21.924L454.866 21.924L454.866 66.9089L467.149 46.6738L489.6 46.6738L489.6 68.5979L454.866 68.5978L454.866 96.076L498.284 96.076L498.284 118L425.689 118L425.689 2.36837e-05L498.284 2.77227e-05L498.284 21.924ZM411.605 118L382.428 118L382.428 69.1175L349.336 69.1175L349.336 118L320.159 118L320.159 1.78124e-05L349.336 1.94357e-05L349.336 67.7534L362.44 46.0242L382.428 46.0242L382.428 2.12769e-05L411.605 2.29002e-05L411.605 117.967L411.605 118ZM271.499 70.6441L295.244 70.6441L311.128 118L281.635 118L266.383 72.6578L248.353 72.6578L248.353 118L219.176 118L219.176 1.21941e-05L248.353 1.38174e-05L248.353 59.6658L281.603 1.56673e-05L310.938 1.72994e-05L271.435 70.6116L271.499 70.6441ZM175.473 73.5023L160.727 1.03938L145.98 73.5023L175.473 73.5023ZM186.62 0.0324919L210.713 118L184.662 118L179.894 94.5819L141.559 94.5819L136.823 118L110.772 118L134.865 0.032489L186.651 0.0324919L186.62 0.0324919ZM102.246 118L50.9652 118L26.3983 1.03937L26.3983 118L-6.56508e-06 118L0 0L51.4388 2.86186e-06L75.8478 116.961L75.8478 4.21989e-06L102.215 5.68684e-06L102.215 117.967L102.246 118Z" fill="#ffffff"/>
        </svg>
      div.description__title Dubai, United Arab Emirates
    .dropdown(data-control='checkbox-dropdown' data-checkbox-dropdown)
      label.dropdown-label Developments
      .dropdown-list
        label.dropdown-option.dropdown-option--first Developments
        label.dropdown-option
          input(type='checkbox' name="developments" data-select="Developments" value='1')
          .dropdown-option-checked-circle
          |       Nakheel
        label.dropdown-option
          input(type='checkbox' name="developments" data-select="Developments" value='2')
          .dropdown-option-checked-circle
          |       Meydan
    .dropdown(data-control='checkbox-dropdown' data-checkbox-dropdown)
      label.dropdown-label Project Type
      .dropdown-list
        label.dropdown-option
          input(type='checkbox' name="project_type" data-select="Project Type" value='1')
          .dropdown-option-checked-circle
          |       Plots for Sale
        label.dropdown-option
          input(type='checkbox' name="project_type" data-select="Project Type" value='2')
          .dropdown-option-checked-circle
          |       Villas for Sale
        label.dropdown-option
          input(type='checkbox' name="project_type" data-select="Project Type" value='3')
          .dropdown-option-checked-circle
          |       Apartments for Sale
    .dropdown(data-control='checkbox-dropdown' data-checkbox-dropdown)
      label.dropdown-label Infrastructure
      .dropdown-list
        label.dropdown-option
          input(type='checkbox' name="infrastructure" data-select="Infrastructure" value='1')
          .dropdown-option-checked-circle
          |       Transport
        label.dropdown-option
          input(type='checkbox' name="infrastructure" data-select="Infrastructure" value='2')
          .dropdown-option-checked-circle
          |       Education
        label.dropdown-option
          input(type='checkbox' name="infrastructure" data-select="Infrastructure" value='3')
          .dropdown-option-checked-circle
          |       Health
        label.dropdown-option
          input(type='checkbox' name="infrastructure" data-select="Infrastructure" value='4')
          .dropdown-option-checked-circle
          |       Retail
        label.dropdown-option
          input(type='checkbox' name="landmark" data-select="Infrastructure" value='5')
          .dropdown-option-checked-circle
          |       Hide Landmarks
    label.form-switch
      input(type='checkbox' data-zone-highlighter='' checked)
      i
      | Master  Communities
    .selects-wrapper__qr-wrapper 
      +img('wide-map/header-qr.png').selects-wrapper__qr
  .map
    include ../includes/page-meydan.html
    include ../includes/vertical-map.pug



  .popup
    <svg class="popup__close" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.5 6.08579L13.2929 0.292893C13.6834 -0.0976311 14.3166 -0.0976311 14.7071 0.292893C15.0976 0.683417 15.0976 1.31658 14.7071 1.70711L8.91421 7.5L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L7.5 8.91421L1.70711 14.7071C1.31658 15.0976 0.683417 15.0976 0.292893 14.7071C-0.0976315 14.3166 -0.0976315 13.6834 0.292893 13.2929L6.08579 7.5L0.292893 1.70711C-0.0976315 1.31658 -0.0976315 0.683417 0.292893 0.292893Z" fill="#001030"/>
      </svg>
    .popup__img.swiper-container
      .thumbs
      .swiper-wrapper 
        img(src="./assets/images/district-11/image.jpg").swiper-slide
        img(src="./assets/images/district-11/image.jpg").swiper-slide
        img(src="./assets/images/district-11/image.jpg").swiper-slide
        img(src="./assets/images/district-11/image.jpg").swiper-slide
    .popup__text
      div Palm Beach Towers 
      p Palm Beach Towers 3 is an amalgam of style and luxury that inspires a fresh perspective; where each day the sounds of the waves are the backdrop to a life immersed in the best the city has to offer.
      .popup__button-container
        a(target='_blank' data-gallery-link) Discover
        a(target='_blank' data-video-link) Discover
        a(target='_blank' data-payment-plan-link) Discover
        a(target='_blank' data-floor-plan-link) Discover
        a(target='_blank' data-material-board-specification) Discover
    img.popup__qr
  .popup2
    button.popup2__close 
      <svg  width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7.5 6.08579L13.2929 0.292893C13.6834 -0.0976311 14.3166 -0.0976311 14.7071 0.292893C15.0976 0.683418 15.0976 1.31658 14.7071 1.70711L8.91421 7.5L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L7.5 8.91421L1.70711 14.7071C1.31658 15.0976 0.683417 15.0976 0.292893 14.7071C-0.0976313 14.3166 -0.0976313 13.6834 0.292893 13.2929L6.08579 7.5L0.292893 1.70711C-0.0976313 1.31658 -0.0976313 0.683418 0.292893 0.292893Z" fill="#001030"/>
        </svg>
    .popup2__title Palm beach Towers Presentation
    .popup2__frame(data-pdf scrolling="auto" type="application/pdf")


block footer
block header
